.page {
  color: #ffffff;
}

.tabbar,
.toolbar,
.card {
  background: #353535;
}

.page__background {
  background: #202020;
}

.back-button,
.toolbar__title {
  color: #ff9100;
}

.back-button__icon {
  fill: #ff9100;
}

*:checked + .tabbar__button {
  color: #ff9100;
}
