.page {
  color: #ffffff;
}

.tabbar,
.toolbar,
.card {
  background: #353535;
}

.page__background {
  background: #202020;
}

.back-button,
.toolbar__title {
  color: #ff9100;
}

.back-button__icon {
  fill: #ff9100;
}

*:checked + .tabbar__button {
  color: #ff9100;
}

.button--large {
  background-color: #ff9100;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding: 4px 12px;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.page__content {
  padding: 25px !important;
}
.page__content h1 {
  margin-top: 0;
}
.page__content > *:first-child {
  margin-top: 0;
}
